<!doctype html>
<html>

<head>
    {% block head %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Todos</title>
    {% endblock %}
</head>

<body>
    <div id="container" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flashes">
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-{{ category }}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div id="content">{% block content %}{% endblock %}</div>
        <hr />
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2018-2019 by <a href="http://saltsoft.pl/">Saltsoft</a>.
            {% endblock %}
        </div>
    </div>
</body>

</html>