{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
    <h1>Todos</h1>
    <hr />
    <form action="/create_todo" method="post">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" id="title" name="title" />
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="start">Start:</label>
                    <input class="form-control" type="date" id="start_date" name="start_date" />
                </div>
                <div class="form-group">
                    <label for="end">End:</label>
                    <input class="form-control" type="date" id="end_date" name="end_date" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <a href="#" class="btn btn-secondary" role="button">Clear</a>
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary">Save todo</button>
            </div>
        </div>
    </form>
    {% if todos %}
    <hr />
    <h2>List of todos</h2>
    <ul id="todo_list" class="list-group">
    {% for todo in todos %}
        <li class="list-group-item">
            <input type="checkbox" class="form-check-input" disabled />
            <a href="/todo/{{ todo.id }}">{{ todo.title }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <h2>No todos - create some !!!</h2>
    {% endif %}
{% endblock %}
