{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
<h1>Todo #{{ todo.id }} </h1>
<div class="form-row">
    <div class="col-md-6">
        <h2 id="title">{{todo.title}}</h2>
        <div id="description">
            {{todo.description}}
        </div>
        <div id="dates">
            <span class="badge badge-light">start date</span>
            /
            <span class="badge badge-dark">end date</span>
        </div>
    </div>
    <div class="col-md-6">
        <a href="/" class="btn btn-primary" role="button">Close</a>
        <a href="/todo/{{ todo.id }}/delete" class="btn btn-danger" role="button">Delete</a>
    </div>
</div>
{% endblock %}
